$g-purp-blue: linear-gradient(217deg, rgb(36, 1, 56) 20%, rgba(0, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgb(184, 150, 55) 20%, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgb(87, 38, 38) 20%, rgba(0, 0, 255, 0) 70.71%);

$g-width: 80%;
$gapX-1: 2rem;

